* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.background-container {
  display: flex;
  background-image: url(images/alek-newton-ltdWpl-BH4s-unsplash.jpg);
  background-size: cover;
  justify-content: center;
  padding-top: 10em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(51, 33%, 8%, 0.75);
  height: 300px;
  width: 400px;
}

.welcome-title {
  font-size: 3em;
  color: #ffedd9;
}

.email-text,
.password-text {
  margin: 0;
  color: #ffedd9;
  padding: 5px;
}

.submit-btn {
  margin: 1em;
  cursor: pointer;
  background-color: #ffedd9;
}
